HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/openmoney-exposition/src/main/resources/static
/nbdist/
/.nb-gradle/
build/

# dependencies
/openmoney-site/prez/node_modules
/openmoney-site/prez/node/
/openmoney-site/prez/.editorconfig
/openmoney-site/prez/.gitignore


### VS Code ###
.vscode/
